@model EducationPortal.UI.Models.ViewEntities.SkillView

<h2>Adding contact</h2>
<form asp-action="Edit" asp-controller="EditingSkills" asp-route-id="@Model.Id">
    <p>
        <label asp-for="Title">Title</label><br/>
        <input type="text" asp-for="Title" />
        <span asp-validation-for="Title"/>
    </p>
    <p>
        <input type="submit" value="Submit"/>
    </p>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}