@model EducationPortal.UI.Models.ViewEntities.ArticleView

<h2>Adding article</h2>
<form asp-action="CreateArticle" asp-controller="EditingMaterials">
    <p>
        <label asp-for="Name">Name</label><br/>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"/>
    </p>
    <p>
        <label asp-for="Source">Source</label><br/>
        <input type="text" asp-for="Source" />
        <span asp-validation-for="Source"/>
    </p>
     <p>
        <label asp-for="PublicationDate">PublicationDate</label><br/>
        <input type="date" asp-for="PublicationDate" />
        <span asp-validation-for="PublicationDate"/>
    </p>
    <p>
        <input type="submit" value="Submit"/>
    </p>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
