@model EducationPortal.UI.Models.ViewEntities.ArticleView
@{
    var item = Model;
}

<h2># @item.Id</h2>
<p>Article name: @item.Name</p>
<p>Sourse: @item.Source</p>
<p>Publication date: @item.PublicationDate</p>
<a class="nav-link text-dark" asp-area="" asp-controller="EditingMaterials" asp-action="Materials">To previous page</a>