@model IEnumerable<MaterialView>

 <h3>Material list</h3>
<table class="table">
    <tr><th>#</th><th>Type</th><th>Title</th><th></th><th></th></tr>
    @foreach (var item in Model)
        {
         <tr>
             <td>@item.Id</td>
            @if (item is BookView)
            {
                <td>Book</td>
            }
            else if (item is VideoView)
            {
                 <td>Video</td>
            }
            else if (item is ArticleView)
            {
                 <td>Article</td>
            }
            <td>@item.Name</td>
            <td>
                <a asp-controller="EditingMaterials" asp-action="Edit" asp-route-id="@item.Id">Change</a>
            </td>
            <td>
                <form asp-controller="EditingMaterials" asp-action="Delete" method="post"  asp-route-id="@item.Id">
                    <input type="submit" value="Delete" />
                </form>
            </td>
         </tr>
    }
</table>
<p><a asp-controller="EditingMaterials" asp-action="Create">+ Add material</a></p>