@model EducationPortal.UI.Models.ViewEntities.CourseView

<h2>Adding skill</h2>
<form asp-action="Edit" asp-controller="EditingCourse">
    <p>
        <label asp-for="Name">Name</label><br />
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"/>
    </p>
    <p>
        <label asp-for="Description">Description</label><br />
        <input type="text" asp-for="Description" />
        <span asp-validation-for="Description" />
    </p>
    <p>
        <a asp-controller="EditingCourses" asp-action="Create">+ Add Course</a>
    </p>
    <p>
        <input type="submit" value="Submit"/>
    </p>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}