@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome newcomers</h1>
    <p>It is education portal for exploring and learning new information.</p>
    <p>To start pass courses please authorize:</p>
    <div class="form-group">
        <a class="btn btn-primary btn-block mb-4" asp-controller="Account" asp-action="Login">Log in</a>
    </div>
</div>
